<center><h1>Index</h1></center>

<table border="1">
<thead>
  <thead>
    <div class="navbar">
      <a class="active" href="{% url "index" %}">Home</a>
      <a href="{% url "login" %}">Logout</a>
      <a class="active" href="{% url "index2" %}">Weather_Api</a>
    </div>
  <style>

  body {
    background-color: #e4bc52;
  }

  </style>
</thead>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<a href="{% url "client_list" %}"><h3>Client</h3></a>
<a href="{% url "table_list" %}"><h3>Table</h3></a>
<a href="{% url "order_list" %}"><h3>Order</h3></a>
<a href="{% url "waiter_list" %}"><h3>Waiter</h3></a>
<a href="{% url "dishes_list" %}"><h3>Dishes</h3></a>
<a href="{% url "menu_list" %}"><h3>Menu</h3></a>
<a href="{% url "review_list" %}"><h3>Review</h3></a>
