<center><h1>Orders</h1></center>

<table border="1">
<thead>
  <div class="navbar">
    <a class="active" href="{% url "index" %}">Home</a>
    <a href="{% url "login" %}">Logout</a>
    <a class="active" href="{% url "index2" %}">Weather_Api</a>
  </div>
  <style>

  body {
    background-color: #e4bc52;
  }

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }

  td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  }
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 15px;
  }

  </style>

    <tr>
    <th class="bg-info"><i>orderid</i></th>
    <th class="bg-info"><i>order_date</i></th>
    <th class="bg-info"><i>client</i></th>
    <th class="bg-info"><i>quantity</i></th>
    <th class="bg-info"><i>pick_up_date</i></th>
    <th class="bg-danger"><i>View</i></th>
    <th class="bg-danger"><i>Edit</i></th>
    <th class="bg-danger"><i>Delete</i></th>
    </tr>
</thead>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<tbody>
    {% for order in object_list %}
    <tr>
    <td class="bg-success"><b>{{ order.orderid }}</b></td>
    <td class="table-success"><b>{{ order.order_date }}</b></td>
    <td class="bg-success"><b>{{ order.client }}</b></td>
    <td class="table-success"><b>{{ order.quantity}}</b></td>
    <td class="bg-success"><b>{{ order.pick_up_date }}</b></td>
    <td class="table-warning"><b><i><a href="{% url "order_view" order.id %}">view</a></i></b></td>
    <td class="table-success"><b><i><a href="{% url "order_edit" order.id %}">edit</a></i></b></td>
    <td class="table-warning"><b><i><a href="{% url "order_delete" order.id %}">delete</a></i></b></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url "order_new" %}"><h3>New Table</h3></a>
